language: node_js
node_js:
  - "8.9.1"

services:
  - postgresql

before_script:
  - npm install
  - psql -c 'create database travis_ci_test;' -U postgres
  
script:
    - npm test

after_script: 
  - npm run coverage  

