language: node_js
node_js:
  - "8.9.1"
b

before_script:
  - npm install
  
script:
    - npm test

branches:
  only:
    -ch-get-users-single-order-tests-162030849

after_script: 
  - npm run coverage  