.header {
  background-color: #51BB7B;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__options > a {
  text-decoration: none;
  color: #222;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logout {
  background-color: #fff;
  color: #51BB7B;
  font-weight: bold;
  margin: 0 3rem 0 14rem;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 100px;
  padding: .4rem 3rem;
}

.main-content__heading-primary {
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  color: #205334;
}

.main-content__heading-primary::after {
  content: '';
  height: 2px;
  width: 7%;
  background: #51BB7B;
  display: block;
  margin: 10px auto 0;
}

.table-container {
  overflow-x: auto;
}

table {
  margin: 5rem 0 10rem;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-icon-box {
  text-align: center;
}

.test {
  position: relative;

}

.table-icon {
  font-size: 2rem;
  color: #777;
}
/* .table-icon:hover ~ .options-box {
  display: block;
} */
.options-box {
  background-color: orangered;
  position: absolute;
  right: 7rem;
  background-color: #51BB7B;
  min-width: 110px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.2rem;
  border: 1px solid #777;
  display: none;
}

hr {
  color: #222;
}

.options-box a {
  color: #fff;
  padding: 9px 16px;
  text-decoration: none;
  display: block;
}

.options-box a:hover {
  background-color: #ddd;
  color: #555;
}

td,
th {
  padding: 15px;
}

table tr:hover {
  background-color: #f5f5f5;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}

td {
  color: #555;
  font-size: 1.5rem;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  background-color: rgb(123, 196, 152);
  color: white;
}

.Transiting {
  color: rgb(179, 179, 37);
}
.Delivered {
  color: #51BB7B;
}
.Cancelled {
  color: red;
}
.change-status__change-status-btn {
  background-color: #51BB7B;
  padding: .5rem;
  align-self: flex-end;
  margin-bottom: .8rem;
  color: #222;
  display: block;
  margin-left: 4rem;
}
.change-status__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.change-status__modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  border-radius: 4px;
}

.change-status__close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.change-status__close-btn:hover,
.change-status__close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.change-status__new-status {
  width: 80%;
}
.modal-form-group {
  padding-top: 4rem;
}
.action-box {
  display: flex;
  margin: 9rem 0;
}
.change-status-btn {
  background-color: #51BB7B;
  padding: 0rem 2rem;
}
.change-status__modal-heading {
  color: #222;
  margin-left: 4rem;
}
.change-status__status-options {
  margin: 1rem 0 1rem 4rem;
  padding: .5rem;
  width: 60%;
}
.change-present-location-btn {
  background-color: #51BB7B;
  padding: 0rem 2rem;
}
.change-present-location__btn {
  background-color: #51BB7B;
  padding: .5rem;
  align-self: flex-end;
  margin-bottom: .8rem;
  color: #222;
  display: block;
  margin-top: 1rem;
}
.change-present-location__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.change-present-location__modal-heading {
  color: #222;
  font-size: 2rem;
}
.change-present-location__modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  border-radius: 4px;
}

.change-present-location__close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.change-present-location__close-btn:hover,
.change-present-location__close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.change-present-location__input {
  width: 95%;
  padding: 1rem;
  font-size: 2rem;
}
.modal-form-group {
  padding-top: 4rem;
}
.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* 1000px  1000/16 = 62.5 */
@media only screen and (max-width: 62.5em) {
  .header {
    height: 20rem;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .logo-box {
    display: flex;
    background-color: #51BB7B;
    margin-left: 0;
    padding-left: 3rem;
    padding-top: 2rem;
  }

  .header__nav {
    background-color: #addfc1;
  }

  .header__options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__logout {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
  }
  .header__profile-box {
    position: absolute;
    bottom: 14rem;
    right: .3rem;
  }
  .header__options > a {
    color: #fff;
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .header__pricing {
    margin-top: 3rem;
    margin-bottom: .8rem;
  }

  .header__how-it-works {
    margin-bottom: .8rem;
  }
}

/* 680px  680/16 = 42.5 */
@media only screen and (max-width: 42.5em) {
  .change-status__modal-content {
    width: 75%;
  }
  .change-present-location__modal-content {
    width: 75%;
  }
}
/* 500px  500/16 = 31.25 */
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
  .logo-box__logo {
    font-size: 2.8rem;
  }

  .logo-box__text {
    font-size: 3rem;
  }

  .header__logout {
    font-size: 1.4rem;
    padding: .2rem 1.5rem;
  }
}