*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* This defines what 1rem is. In this case it is 10px. */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #777;
  /* background-image: linear-gradient(to right bottom, rgba(122, 161, 244, 0.8), rgba(12, 56, 150, 0.8)), url("../img/jot1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed; */
}