*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* This defines what 1rem is. In this case it is 10px. */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #fff;
}
.logo-box {
  font-weight: bold;
  color: #222;
  margin-left: 2rem;
}

.logo-box__link:active,
.logo-box__link:hover,
.logo-box__link:link,
.logo-box__link:visited {
  text-decoration: none;
  color: #222;
}

.logo-box__logo {
  font-size: 7.5rem;
}

.logo-box__text {
  font-family: 'Niconne', cursive;
  font-size: 3.5rem;
}