@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  background-color: #51BB7B;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__options > a {
  text-decoration: none;
  color: #fff;
  margin-left: 3rem;
  font-size: 1.7rem;
}

.header__options > a:hover {
  color: #222;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__login {
  background-color: #fff;
  color: #51BB7B;
  font-weight: bold;
  margin: 0 3rem 0 14rem;
  text-decoration: none;
  font-size: 1.8rem;
  /* border: 2px solid #51BB7B; */
  border-radius: 100px;
  padding: .4rem 3rem;
}

.header__login:hover {
  color: #222;
  font-weight: bold;
}

.main-content {
  background-color: #f0f0f0;
}

.hero {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/hero-bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 54rem;
  position: relative;
}

.hero__info {
  position: absolute;
  bottom: 11rem;
  left: 3.5rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;

}

.hero__text {
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.hero__btn {
  background-color: #51BB7B;
  padding: 1rem 6rem;
  border-radius: 100px;
  display: inline-block;
  margin-top: 1rem;
  letter-spacing: .2rem;

  animation: moveInRight 1.5s ease-out;
}

.hero__btn:hover {
  background-color: #8ed3a9;
  color: #222;
  font-weight: bold;
}

.hero__btn:active,
.hero__btn:hover,
.hero__btn:link,
.hero__btn:visited {
  text-decoration: none;
  color: #fff;
}

.features__heading-primary {
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  color: #205334;
}

.features__heading-primary::after {
  content: '';
  height: 2px;
  width: 10%;
  background: #51BB7B;
  display: block;
  margin: 10px auto 0;
}

.features__cards {
  display: flex;
  margin: 6rem 4rem 0;
  font-size: 1.6rem;
}

.features__secure {
  flex: 1 1 18rem;
  background-color: #addfc1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.features__icon {
  display: block;
  font-size: 5rem;
  color: #fff;
  margin: 2.5rem 0;
}

.features__heading-secondary {
  font-weight: bold;
  font-size: 2rem;
  color: #205334;
}

.features__card-text {
  margin: 1.2rem 0;
  padding: 0 2.5rem;
  color: #222;
}

.features__btn-inline {
  border: none;
  border-bottom: 1px solid #205334;
  color: green;
  font-size: inherit;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  align-self: flex-end;
  font-size: 1.3rem;
  margin: .8rem 2rem 3rem 0;
}

.features__tracking {
  margin-left: 1rem;
  flex: 1 1 25rem;
  background-color: #addfc1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.features__fast {
  margin-left: 1rem;
  flex: 1 1 18rem;
  background-color: #addfc1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.cta {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__text {
  color: #222;
  font-size: 3rem;
}

.cta__btn {
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

/* 849px  849/16 = 53.0625 */
@media only screen and (max-width: 53.0625em) {
  .header {
    height: 19rem;
    flex-direction: column;
    position: relative;
  }

  .logo-box {
    display: flex;
    background-color: #51BB7B;
    margin-left: 0;
    padding-left: 3rem;
    padding-top: 2rem;
  }

  .header__nav {
    background-color: #addfc1;
  }

  .header__options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__login {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
  }

  .header__options > a {
    color: #fff;
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .header__pricing {
    margin-top: 3rem;
    margin-bottom: .8rem;
  }

  .header__how-it-works {
    margin-bottom: 3rem;
  }

  .features__cards {
    flex-direction: column;
    margin-top: 3rem;
  }

  .features__card {
    margin-top: 1rem;
    flex: 1 1 30rem;
    margin-left: 0;
  }

  .features__btn-inline {
    margin-right: 4rem;
  }
}

/* 630px  630/16 = 39.4*/
@media only screen and (max-width: 39.4em) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 22rem;
  }

  .footer > span {
    padding-top: .7rem;
    margin-right: 0;
  }
}

/* 500px  500/16 = 31.25 */
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 55%;
  }
}

/* 390px  390/16 = 24.375 */
@media only screen and (max-width: 24.4em) {
  .header {
    height: 18rem;
  }

  .logo-box__logo {
    font-size: 2.8rem;
  }

  .logo-box__text {
    font-size: 3rem;
  }

  .header__login {
    font-size: 1.4rem;
    padding: .2rem 1.5rem;
  }
}

