body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.header {
  background-color: #51BB7B;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__options > a {
  text-decoration: none;
  color: #fff;
  margin-left: 3rem;
  font-size: 1.7rem;
}

.header__options > a:hover {
  color: #222;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__profile-box {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 5rem 0 14rem;
  color: #205334;

  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus,
.dropbtn:hover {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
/* .header {
  position: relative;
  display: inline-block;
} */
.dropdown-content {
  display: none;
  position: absolute;
  right: .3rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.2rem;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Dropdown button on hover & focus */
.dropbtn:focus,
.dropbtn:hover {
  background-color: #2980B9;
}

.show {
  display: block;
}
.main-section {
  max-width: 60rem;
  margin: 2rem auto 5rem auto;
  background-color: rgb(131, 211, 163);
}

label {
  font-size: 1.4rem;
  color: #555;
  font-weight: bold;
  display: inline-block;
  /* padding-top: 3rem; */
  margin-top: 1.2rem;
}

.new-order-form {
  margin: 2rem 5rem;
  padding-top: 4rem;
}

.new-order-form__heading {
  font-size: 2.5rem;
  color: #205334;
  text-align: center;
  margin-bottom: 4rem;
}

.new-order-form__input {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 1.5px solid #eee;
}
.legend {
  font-size: 1.4rem;
  font-weight: bold;
  color: #555;
}
.fieldset {
  margin-top: 3rem;
}
.new-order-form__input:focus {
  outline: none;
  border: 1.5px solid #51BB7B;
}

.new-order-form__button {
  display: inline-block;
  margin: 2rem  0 2rem 0;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  background-color: #205334;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

.new-order-form__button:active,
.new-order-form__button:hover,
.new-order-form__button:link,
.new-order-form__button:visited {
  text-decoration: none;
}

.new-order-form__button:hover {
  background-color: #8ed3a9;
}

/* 640px  640/16 = 40 */
@media only screen and (max-width: 40em) {
  .main-section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/* 370px  370/16 = 23.2 */
@media only screen and (max-width: 23.2em) {
  .new-order-form__button {
    padding: 1rem 3rem;
  }
}

/* 300px  300/16 = 18.75 */
@media only screen and (max-width: 18.75em) {
  .new-order-form__button {
    padding: .5rem 2rem;
  }
}
