body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  background-color: #51BB7B;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__options > a {
  text-decoration: none;
  color: #fff;
  margin-left: 3rem;
  font-size: 1.7rem;
}

.header__options > a:hover {
  color: #222;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__profile-box {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 5rem 0 14rem;
  color: #205334;

  position: relative;
  display: inline-block;
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile {
  margin-right: .5rem;
  font-family: 'Pattaya', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: .3rem;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.2rem;

}

.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.main-section {
  max-width: 70rem;
  margin: 2rem auto 5rem;
  background-color: rgb(131, 211, 163);

}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  padding-bottom: 3rem;
}

.form-page__heading {
  text-align: center;
  font-size: 2.5rem;
  color: #205334;
  margin: 4rem 0 3rem;
  font-family: 'Pattaya', sans-serif;
}

.form-page__box {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  padding: 0 2rem;
  align-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.parcel {
  font-size: 1.4rem;
}

.delivery-address__heading,
.parcel__heading,
.pickup-location__heading {
  margin: 2rem 0 2rem 4rem;
  font-weight: bold;
  color: #555;
  font-size: 1.7rem;
}

.parcel__field-group {
  display: flex;
  justify-content: space-between;
}

.parcel__field-group > span {
  margin-bottom: 2rem;
}

.delivery-address__label,
.parcel__label,
.pickup-location__label {
  font-weight: bold;
}

.Transiting {
  color: rgb(179, 179, 37);
}

.Delivered {
  color: #51BB7B;
}

.Cancelled {
  color: red;
}

.pickup-location__field-group {
  display: flex;
  justify-content: space-between;
}

.pickup-location__field-group > span {
  margin-bottom: 2rem;
}

.delivery-address__field-group {
  display: flex;
  justify-content: space-between;
}

.delivery-address__field-group > span {
  margin-bottom: 2rem;
}

.delivery-address__change-destination-btn {
  background-color: #51BB7B;
  padding: .5rem;
  align-self: flex-end;
  margin-bottom: .8rem;
  color: #222;
  display: block;
}

.delivery-address__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.delivery-address__modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  border-radius: 4px;
}

.delivery-address__close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delivery-address__close-btn:focus,
.delivery-address__close-btn:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delivery-address__new-destination {
  width: 80%;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.modal-form-group {
  padding-top: 4rem;
}

.form-page__btns {
  /* background-color: orangered; */
  align-self: flex-start;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.form-page__view-btn {
  padding: 1rem 4rem;
  background-color: #51BB7B;
  margin-right: 3rem;
  margin-left: 7rem;
}

.form-page__btns > a {
  text-decoration: none;
  color: #205334;
}

.form-page__cancel-btn {
  background-color: #fff;
  padding: 1rem 4rem;
}
.modal-label {
  color: #222;
  font-size: 1.5rem;
}
/* 1000px  1000/16 = 62.5 */
@media only screen and (max-width: 62.5em) {
  .header {
    height: 20rem;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .logo-box {
    display: flex;
    background-color: #51BB7B;
    margin-left: 0;
    padding-left: 3rem;
    padding-top: 2rem;
  }

  .header__nav {
    background-color: #addfc1;
  }

  .header__options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__logout {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
  }

  .header__profile-box {
    position: absolute;
    bottom: 14rem;
    right: .3rem;
  }

  .header__options > a {
    color: #fff;
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .header__pricing {
    margin-top: 3rem;
    margin-bottom: .8rem;
  }

  .header__how-it-works {
    margin-bottom: .8rem;
  }
}

/* 680px  680/16 = 42.5 */
@media only screen and (max-width: 42.5em) {
  .form-page__box {
    width: 90%;
  }
  .delivery-address__modal-content {
    width: 75%;
  }
}

/* 525px  525/16 = 32.8125 */
@media only screen and (max-width: 32.8125em) {
  html {
    font-size: 50%;
  }

  .parcel__heading {
    margin: 2rem auto 4rem;
  }

  .parcel__field-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .parcel__field-group > span {
    margin-bottom: 1rem;
  }

  .pickup-location__heading {
    margin: 2rem auto 4rem;
  }

  .pickup-location__field-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .pickup-location__field-group > span {
    margin-bottom: 1rem;
  }

  .delivery-address__heading {
    margin: 2rem auto 4rem;
  }

  .delivery-address__field-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .delivery-address__field-group > span {
    margin-bottom: 1rem;
  }

  .form-page__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-page__btns > a {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }
}
/* 390px  390/16 = 24.375 */
@media only screen and (max-width: 24.4em) {
  .logo-box__logo {
    font-size: 2.8rem;
  }

  .logo-box__text {
    font-size: 3rem;
  }
}
