body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.header {
  background-color: #51BB7B;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__options > a {
  text-decoration: none;
  color: #fff;
  margin-left: 3rem;
  font-size: 1.7rem;
}

.header__options > a:hover {
  color: #222;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__profile-box {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 5rem 0 14rem;
  color: #205334;

  position: relative;
  display: inline-block;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus,
.dropbtn:hover {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
/* .header {
  position: relative;
  display: inline-block;
} */
.dropdown-content {
  display: none;
  position: absolute;
  right: .3rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.2rem;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Dropdown button on hover & focus */
.dropbtn:focus,
.dropbtn:hover {
  background-color: #2980B9;
}

.main-section {
  max-width: 70rem;
  margin: 2rem auto 5rem auto;
  background-color: rgb(131, 211, 163);

}
.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  padding-bottom: 3rem;
}
.form-page__heading {
  text-align: center;
  font-size: 2.5rem;
  color: #205334;
  margin: 4rem 0 3rem 0;
}
.form-page__box {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  padding: 0 2rem 0 2rem;
  align-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.parcel {
  font-size: 1.4rem;
}
.parcel__heading,.pickup-location__heading,.delivery-address__heading {
  margin: 2rem 0 2rem 4rem;
  font-weight: bold;
  color: #555;
  font-size: 1.7rem;
}
.parcel__field-group {
  display: flex;
  justify-content: space-between;
}
.parcel__field-group > span {
  margin-bottom: 2rem;
}
.parcel__label,.pickup-location__label,.delivery-address__label {
  font-weight: bold;
}

.pickup-location__field-group {
  display: flex;
  justify-content: space-between;
}
.pickup-location__field-group > span {
  margin-bottom: 2rem;
}
.delivery-address__field-group {
  display: flex;
  justify-content: space-between;
}
.delivery-address__field-group > span {
  margin-bottom: 2rem;
}
.delivery-address__change-destination-btn {
  background-color: #51BB7B;
  padding: .5rem;
  align-self: flex-end;
  margin-bottom: .8rem;
  color: #222;
}
.delivery-address__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.delivery-address__modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  border-radius: 4px;
}

.delivery-address__close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delivery-address__close-btn:hover,
.delivery-address__close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.delivery-address__new-destination {
  width: 80%;
}
.modal-form-group {
  padding-top: 4rem;
}
.form-page__btns {
  /* background-color: orangered; */
  align-self: flex-start;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.form-page__view-btn {
  padding: 1rem 4rem;
  background-color: #51BB7B;
  margin-right: 3rem;
  margin-left: 7rem;
}
.form-page__btns > a {
  text-decoration: none;
  color: #205334;
}
.form-page__cancel-btn {
  background-color: #fff;
  padding: 1rem 4rem;
}