body {
  background-image: linear-gradient(to right bottom, rgba(142, 211, 169, 1), rgba(42, 107, 68, 1));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo-box {
  display: block;
}

.main-section {
  max-width: 55rem;
  margin: 2rem auto 5rem auto;
  background-color: #fff;
  border-radius: 2rem;
}

label {
  font-size: 1.4rem;
  color: #555;
  font-weight: bold;
  display: inline-block;
  /* padding-top: 3rem; */
  margin-top: 1.2rem;
}

.signup-form {
  margin: 2rem 3rem;
  padding-top: 4rem;
}

.signup-form__heading {
  font-size: 2.5rem;
  color: #205334;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Pattaya', sans-serif;
}

.signup-form__input {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 1px solid #51BB7B;
}

.signup-form__input:focus {
  outline: none;
  border: 1.5px solid #205334;
}

.signup-form__button {
  display: inline-block;
  margin: 2rem 0 .8rem;
  padding: 1.2rem 7rem;
  background-color: #51BB7B;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

.signup-form__button:active,
.signup-form__button:hover,
.signup-form__button:link,
.signup-form__button:visited {
  text-decoration: none;
}

.signup-form__button:hover {
  background-color: #8ed3a9;
}

.signup-form__login-link-text {
  color: #555;
  font-size: 1.6rem;
  padding: 1rem 0 2rem;

}

.signup-form__login-link {
  color: #51BB7B;
}

.signup-form__login-link:active,
.signup-form__login-link:hover,
.signup-form__login-link:link,
.signup-form__login-link:visited {
  text-decoration: none;
}
/* 640px  640/16 = 40 */
@media only screen and (max-width: 40em) {
  .main-section {
    margin-left: .8rem;
    margin-right: .8rem;
  }

  .signup-form {
    margin: 2rem 2rem;
  }
}


/* 370px  370/16 = 23.2 */
@media only screen and (max-width: 23.2em) {
  .signup-form__button {
    padding: 1rem 3rem;
  }
}

/* 300px  300/16 = 18.75 */
@media only screen and (max-width: 18.75em) {
  .signup-form__button {
    padding: .5rem 2rem;
  }
}
